.App {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.title {
    font-family: "Brush Script MT";
    font-size: 70px;
    color: rgb(187, 166, 187);
    text-align: center;
}

h4 {
    text-align: center;
}

.body-container {
    display: flex;
    margin-left: 5%;
}

.card-container {
    width: 200vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    justify-content: center;
}

.bakery-item {
    width: 300px;
    height: 590px;
    background-color: rgb(193, 228, 249);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
}

.bakery-image {
    border-radius: 10px;
    height: 200px;
    width: 100%;
}

.item-info {
    padding: 5px;
}

.item-description {
    margin-top: 50px;
    font-style: italic;
    text-align: left;
    padding: 5px;
}

.restrictions{
    padding: 5px;
}

.calories-price {
    padding: 5px; 
}

.type{
    margin-top: 5px;
    float: right;
}

.calories {
    float: left;
}

.price {
    float: right;
}


.add-btn {
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: aliceblue;
    border: 1px solid rgb(173, 210, 243);
    border-radius: 7px;
    cursor: pointer;
    transition: ease-in-out 0.1s;
    padding: 5px;
}

.add-btn:hover {
    background-color: rgb(44, 149, 240);
    transition: ease-in-out 0.1s;
}

.add-btn:active {
    background-color: rgb(173, 210, 243);
    transition: ease-in-out 0.1s;
}



/*** Cart Style ***/
.one-item {
    display: flex;
}

.text-left {
    font-size: 15px;
    float: left;
}

.quantity-right {
    float: right;
    padding-left: 15%;
    display: flex;

}

.quantity-btn {
    border-radius: 8px;
    background-color: rgb(245, 159, 169);
    font-size: 15px;
    width: 25px;
    height: 25px;
    border: 10px;
}

.cart {
    width: 40rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    background-color: rgb(251, 231, 234);
    padding: 20px;
    margin-top: 25px;
    border-radius: 20px;
}

.cart-item {
    font-size: 20px;
}

.cart-title {
    font-size: 25px;
    font-weight: bold;
    color: rgb(207, 98, 100);
}

.total-price {
    font-size: 22px;
    color: rgb(222, 105, 107);
    font-weight: bold;
}

.sort-container {
    padding-top: 10px;
    display: flex;
    justify-content: center;

}


.sort-title {
    padding-right: 10px;
    font-size: 15px;
    font-weight: bold;
}