.App {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.title {
    font-family: "Brush Script MT";
    font-size: 60px;
    color: rgb(187, 166, 187);
}

h4{
    text-align: center;
}

.row-container {
    display: flex;
    margin-left: 5%;
}

.col-container {
    width: 150vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    justify-content: center;
}
  
.bakery-item {
    width: 37%;
    height: 12%;
    background-color: rgb(193, 228, 249);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
}

.bakery-image {
    border-radius: 10px;
    height: 200px;
    width: 100%;
}

.item-info {
    padding:5px;
}

.item-description {
    font-style: italic;
    text-align: left;
    padding: 10px;
}

.calories-price{
    padding: 10px;
}

.calories{
    float: left;
}

.price{
    float: right;
}



.add-btn {
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color:aliceblue ;
    border: 1px solid rgb(173, 210, 243);
    border-radius: 7px;
    cursor: pointer;
    transition: ease-in-out 0.1s;
    padding: 5px;
}

.add-btn:hover {
    background-color: rgb(44, 149, 240);
    transition: ease-in-out 0.1s;
}
  
.add-btn:active {
    background-color: rgb(173, 210, 243);
    transition: ease-in-out 0.1s;
}



/*
.Cart {
    position: sticky;
    top: 140px;
    
    width: 30rem;
    height: 60vh;
    
    color: rgb(90, 90, 0);
    background-color: rgb(193, 228, 249);
    padding: 30px;
    padding-top: 10px;
    margin: 10px;
    border-radius: 20px;
}


*/


.one-item{
    display: flex; 
}

.text-left{
    font-size: 15px;
}

.quantity-right{
    padding-left:15%;
    display: flex; 
    
}

.quantity-btn{
    border-radius: 8px;
    background-color: rgb(209, 207, 147);
    font-size: 15px;
    width: 25px;
    height: 25px;
    border: 10px;
}

.cart {
    width: 40rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    background-color: rgb(245, 247, 228);
    padding: 20px;
    margin-top: 25px;
    border-radius: 20px;
}

.cart-item {
    font-size: 20px;
}

.cart-title {
    font-size: 25px;
    font-weight: bold;
}

.total-price {
    font-size: 22px;
    color: rgb(206, 118, 4);
    font-weight: bold;  
}



/* category filter */
.side-nav{
    height: auto;  
    width: 10%;  
    position: fixed; 
    z-index: 1; 
    margin-top: 90px;
    left: 5%; 
    display: flex; 
    flex-direction: column;
    border-radius: 7px; 
    background-color: lavender;
    
}

.nav-btn{
    background-color: lavender;
    border: 1px solid rgb(216, 216, 248);
    border-radius: 7px;
    padding: 10px;
    font-family: 'Arial';
    color:rgb(167, 107, 167);
    cursor: pointer;
    font-size: 17px;
    
}

.nav-btn:hover {
    background-color: rgb(192, 171, 227);
    transition: ease-in-out 0.1s;
    font-weight: bold;
}
  
.nav-btn:active {
    background-color: rgb(192, 171, 227);
    transition: ease-in-out 0.1s;
    font-weight: bold;
}